main > section.contact {
    .banner {
      height: calc(9 * var(--spacer));
  
      img {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  
    .contactBlock {
      padding-inline: var(--spacer-175);
      margin-block: calc(2 * var(--spacer));
      display: flex;
      gap: calc(1.5 * var(--spacer));
  
      img {
        height: calc(9 * var(--spacer));
      }
  
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: calc(0.5 * var(--spacer));
  
        .addresses {
          display: flex;
          gap: var(--spacer);
          width: 100%;
          
          > div {
            width: 50%;
          }
  
          > div > p:first-child {
            color: var(--clr-gold);
            font-size: var(--fs-normal);
          }
  
          > div > p {
            color: var(--clr-black);
            font-size: var(--fs-small);
          }
        }
  
        .title {
          color: var(--clr-beige);
          font-weight: 500;
        }
  
        menu {
          display: flex;
          width: 100%;
          gap: var(--spacer);
          a img {
            height: var(--spacer);
          }
        }
      }
    }
  }