/* CORE WEBSITE CSS  */

/*
width x height
Desktop: 1920×1080, 1366×768, 1280×1024, 1024×768. 
Tablet: 768×1024, 1024×768, 601×962.
Mobile: 375×667, 414×736, 360×800, 390×844. 
*/

:root {
    --clr-gold: #c8a25f;
    --clr-darkgold: #997024;
    --clr-beige: #d6b18b;
    --clr-green: #7d9238;
    --clr-darkgreen: #595e29;
    --clr-navy: #2e4066;
    --clr-lightblue: #bfdaec;
    --clr-brown: #b06633;
    --clr-black: #353535;
    --clr-white: white;
    --clr-input: #a0a7b7;
  
    --spacer: calc(((75 / 1920) * 100vw));
    --spacer-175: calc((175 / 1920) * 100vw);
    --fs-title: calc((36 / 1920) * 100vw);
    --fs-normal: calc((24 / 1920) * 100vw);
    --fs-small: calc((17 / 1920) * 100vw);
    --fs-nav: calc((18 / 1920) * 100vw);
    --fs-xs: calc((14 / 1920) * 100vw);
    --fs-xxs: calc((10 / 1920) * 100vw);
    --nav-height: calc(2 * var(--spacer));
    --slideDistance: calc((-1 * (100vw - (-2 * var(--spacer))) / 3));
  
  
    --lh-normal: calc((36 / 1920) * 100vw);
    --font-family: Nunito-Sans;
    --btn-br: calc((12 / 1920) * 100vw);
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: Nunito-Sans;
    src: url(../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
  }

  html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Nunito-Sans, sans-serif;
  }
  
  main {
    min-height: 100vh;
    animation: 1s fade-in ease-in-out;
    opacity: 1;
  }
  
  @media only screen and (max-width: 1100px) {
    :root {
      --spacer: 20px;
      --spacer-175: 5vw;
    }
  }
    
    @keyframes slide-in {
      from {
          transform: translateX(100vw);
      }
  
      to {
        transform: translateX(0vw);
  
      }
    }
  
    @keyframes slide-out {
      from {
        transform: translateX(0vw);
      }
  
      to {
        transform: translateX(100vw);
      }
    }
  
    .slide-in {
      animation-name: slide-in;
      animation-duration: 500ms;
      animation-timing-function: ease;
    }
  
    .slide-out {
      animation-name: slide-out;
      animation-duration: 500ms;
      animation-timing-function: ease;
    }






/* /////////// UTILITY CLASSES ////////////// */
@media only screen and (min-width: 1100px) {

  .slider {
  height: calc(9 * var(--spacer));
  margin-top: calc(2 * var(--spacer));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer);
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  transition: all 1s ease-in;



  a {
    margin-inline: auto;
  }

  .slider-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: calc(2 * var(--spacer));
    transition: all 300ms ease-in;
    height: calc(7.5 * var(--spacer));


    .slider-image {
      height: calc(100% - var(--spacer));
      width: calc((100vw - (4 * var(--spacer))) / 3);
      overflow: hidden;
      display: flex;
      align-items: center;
      background-size: 100%;
      background-repeat: no-repeat;
      transition: all 300ms ease-in;
      opacity: 0.5;

    }
  }

  .active-height {
    transform: scale(1.2);
    background-position: center;
    opacity: 1 !important;
  }

  .prevSlide {
    cursor: pointer;
    position: absolute;
    top: calc(50% - var(--spacer));
    left: calc((475/1920) * 100vw);
    width: calc((50/1920) * 100vw);
    aspect-ratio: 1/1.5;
    transform: translateY(-50%);
  }

  .nextSlide {
    cursor: pointer;
    position: absolute;
    top: calc(50% - var(--spacer));
    right: calc((475/1920) * 100vw);
    width: calc((50/1920) * 100vw);
    aspect-ratio: 1/1.5;
    transform: translateY(-50%) rotate(180deg);
    
  }
  }

}

@media only screen and (max-width: 1100px) {
  .slider {
    position: relative;
    width: 100%;
    height: calc(18 * var(--spacer)) !important;
    gap: var(--spacer);
    margin-top: calc(4 * var(--spacer));
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 500ms ease-in;
    ;

    .slider-images {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100% !important;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0;
    scroll-behavior: smooth;
    -webkit-scroll-color: black;

      .slider-image {
        background-size: cover !important;
        background-repeat: no-repeat;
        scroll-snap-align: start;
        min-width: 100% !important;
      }
    }
  }
}

.display-none {
  display: none !important;
}

.margin-right-spacer {
  margin-right: var(--spacer);
}

.blocks > div[data-direction="imageRight"] {
  flex-direction: row-reverse;
}

.section-split {
  padding-inline: var(--spacer-175);
  display: flex;
  align-items: center;
  gap: var(--spacer);
  overflow: hidden;

  h1 {
    white-space: nowrap;
  }

  hr {
    transform: rotate(180deg);
    width: 100%;
    height: 4px;
    border: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.bold {
  font-weight: 800;
}

.button {
  width: calc((175 / 75) * var(--spacer));
  height: calc((50 / 75) * var(--spacer));
  text-align: center;
  border-radius: var(--btn-br);
  font-size: var(--fs-small);
  border: 1px solid transparent;
  color: #ffffff;
  font-size: var(--fs-small);
  font-weight: 900;
  transition: 300ms;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.title {
  font-size: var(--fs-title);
  font-weight: 900;
  color: inherit;
  line-height: 1em;
}

.text {
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  font-weight: 300;
  color: var(--clr-black);
  display: flex;
  align-items: flex-start;
}

.gold .button, .gold hr {
  background-color: var(--clr-gold);
}

.gold .title, .gold .paragraph {
  color: var(--clr-darkgold);
}

.brown .button, .brown hr {
  background-color: var(--clr-brown);
}

.brown .title, .brown .paragraph {
  color: var(--clr-brown);
}

.green .button, .green hr {
  background-color: var(--clr-green);
}

.green .title, .green .paragraph {
  color: var(--clr-darkgreen);
}

.navy .title, .navy .paragraph {
  color: var(--clr-navy);
}

.navy .button, .navy hr {
  background-color: var(--clr-navy);
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.g-spacer {
  gap: var(--spacer);
}

.slide-right {
  animation: 500ms slide-right ease-in-out;
}

.slide-left {
  animation: 500ms slide-left ease-in-out;
}


@media only screen and  (min-width: 1100px) {
  .mob-only {
    display: none !important;
  }
}

@media only screen and  (max-width: 1100px) {
  .dtop-only {
    display: none !important;
  }
}