.footer {
    background-color: var(--clr-navy);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: calc((150 / 1920) * 100vw);
    color: var(--clr-white);
    margin-top: auto;
  
  .footer-logo {
    max-height: 100%;
    width: 40vw;
    text-align: center;
  }
  
  .footerLogoImage {
    height: 300px;
    width: calc((500 / 1920) * 100vw);
    object-fit: contain;
  }
  
  
  * {
    gap: 20px;
  }
  
  .content {
    width: 45vw;
    padding-right: var(--spacer-175);
    display: flex;
    flex-direction: column;
  
    .newsletter-input,
    .donate-mail {
      min-width: 100%;
      gap: 0;
    }
  
    form {
      align-items: flex-start;
    
      .newsletter-input {
        gap: 0;
        margin-top: calc((5/1920) * 100vw);
      }
    }
  
    .donate-mail {
      gap: calc((15/1920) * 100vw);
    }
  
    .top {
      font-size: var(--fs-xs);
      display: flex;
      justify-content: space-between;
  
      .left {
        display: flex;
        gap: calc((40 / 1920) * 100vw);
  
        menu {
          display: flex;
          flex-direction: column;
          gap: calc((5 / 1920) * 100vw);
        }
      }
  
      .right {
        gap: calc(var(--spacer) / 6);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: fit-content;
  
        > div {
          width: 50%;
        }
      }
    }
  
    .bottom {
      font-size: var(--fs-xxs);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calc((50 / 1920) * 100vw);
      .right {
        
        menu {
          display: flex;
          gap: calc((5/1920) * 100vw);
          a img {
            width: calc((30 / 1920) * 100vw);
  
          }
        }
      }
      .left {
        display: flex;
        flex-direction: column;
      }
    }
    }
  
    .donate-mail {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      
      button {
      width: calc((205 / 1920) * 100vw);
      aspect-ratio: 205/30;
      }
    
      img {
        width: calc((50 / 1920) * 100vw);
        object-fit: contain;
      }
    }
    
     menu {
      gap: 0.5em;
      align-items: flex-start;
    }
    
     input {
      width: calc((260 / 1920) * 100vw);
      aspect-ratio: 260/37.5;
      background-color: var(--clr-input);
      border: none;
    }
    
     button {
      font-weight: 800;
      width: calc((105 / 1920) * 100vw);
      aspect-ratio: 105/37.5;
      color: var(--clr-navy);
      border: none;
      background-color: var(--clr-white);
      font-size: var(--fs-xs);
    }
  
  }