.post-body {
    .text{
        display: flex;
        flex-direction: column;
        gap: var(--spacer);
        padding: var(--margin);

        .button {
            margin-top: var(--spacer)
        }
        
        h1 {
            color: var(--clr-navy);
        }

        img {
            margin-inline: auto;
        }
    }
}   
