main > section.program {
    .banner {
      height: calc(9 * var(--spacer));
  
      img {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    
    .blocks {
      padding-inline: var(--spacer-175);
      position: relative;
  
      .programBlock:first-child {
        margin-top: calc(2 * var(--spacer));
      }
  
      .programBlock:last-child {
        margin-bottom: calc(2 * var(--spacer));
      }
  
      .programBlock {
        display: flex;
        justify-content: flex-end;
        gap: var(--spacer);
        position: relative;
        overflow: hidden;
  
        
        .text {
          display: flex;
          flex-direction: column;
          padding-block: var(--spacer);
          width: calc(60% - var(--spacer));
  
          .title {
            height: var(--spacer);
            color: var(--clr-green);
          }
        }
  
  
        img {
          width: 40%;
          height: 100%;
          position: absolute;
        }
      }
    }
  
    div[data-direction="imageLeft"] img {
      left: 0;
    }
  
    div[data-direction="imageRight"] img {
      right: 0;
    }
  }